<div class="options-list-mobile">
    <div class="options-list-mobile__row">
        <div class="options-list-mobile-item">
            <div class="options-mobile-img-wrapper">
                <img src="{{asset "images/home/options-list/opt1-mobile.svg"}}" class="options-img" />
            </div>
            <p class="options-mobile-text">Защита слуха</p>
        </div>
        <div class="options-list-mobile-item">
            <div class="options-mobile-img-wrapper">
                <img style="margin-top: 2px" src="{{asset "images/home/options-list/opt2-mobile.svg"}}" class="options-img" />
            </div>
            <p class="options-mobile-text">Слуховой тест</p>
        </div>
        <div class="options-list-mobile-item">
            <div class="options-mobile-img-wrapper">
                <img style="margin-top: 6px" src="{{asset "images/home/options-list/opt3-mobile.svg"}}" class="options-img" />
            </div>
            <p class="options-mobile-text">Создание фото и видео</p>
        </div>
    </div>

    <div class="options-list-mobile__row">
        <div class="options-list-mobile-item">
            <div class="options-mobile-img-wrapper">
                <img style="margin-top: 8px" src="{{asset "images/home/options-list/opt4-mobile.svg"}}" class="options-img" />
            </div>
            <p class="options-mobile-text">Высокая точность</p>
        </div>
        <div class="options-list-mobile-item">
            <div class="options-mobile-img-wrapper">
                <img style="margin-top: 3px" src="{{asset "images/home/options-list/opt5-mobile.svg"}}" class="options-img" />
            </div>
            <p class="options-mobile-text">Спектральный анализ</p>
        </div>
        <div class="options-list-mobile-item">
            <div class="options-mobile-img-wrapper">
                <img src="{{asset "images/home/options-list/opt6-mobile.svg"}}" class="options-img" />
            </div>
            <p class="options-mobile-text">Noise Criterion и Noise Rating</p>
        </div>
    </div>
</div>