<div class="newest-posts">
    <div class="newest-posts__content">
        <div class="newest-posts__header1">
            Всё о шуме и методах борьбы с ним читайте <a href="/blog">в блоге</a>
        </div>
        <div class="newest-posts__header2-ipad">
            <img src="{{asset "images/home/newest-posts/header2-ipad.svg"}}" />
            <span>Всё о шуме и методах борьбы с ним читайте <a href="/blog">в блоге</a></span>
        </div>
        <div class="newest-posts__header2-desktop">
            <img src="{{asset "images/home/newest-posts/header2-desktop.svg"}}" />
            <span>Всё о шуме и методах борьбы с ним читайте <a href="/blog">в блоге</a></span>
        </div>
        <div class="newest-posts__posts-wrapper">

            <div class="pre-post">
                <div class="pre-post__img-wrapper">
                    <img src="{{asset "images/home/newest-posts/post-example-image.svg"}}" />
                </div>
                <div class="pre-post__title">
                    How to save 50% of a work day when managing user reviews
                </div>
                <div class="pre-post__description">
                    How to save 50% of a work day when managing mobile user reviews. Learn how can Customer Support teams save 50% of their work day when dealing with user.
                </div>
                <div class="pre-post__sign-wrapper">
                    <img src="{{asset "images/home/newest-posts/paper-icon.svg"}}" class="pre-post__sign" />
                    Статьи
                </div>
            </div>
            <div class="pre-post">
                <div class="pre-post__img-wrapper">
                    <img src="{{asset "images/home/newest-posts/post-example-image.svg"}}" />
                </div>
                <div class="pre-post__title">
                    How to save 50% of a work day when managing user reviews
                </div>
                <div class="pre-post__description">
                    How to save 50% of a work day when managing mobile user reviews. Learn how can Customer Support teams save 50% of their work day when dealing with user.
                </div>
                <div class="pre-post__sign-wrapper">
                    <img src="{{asset "images/home/newest-posts/paper-icon.svg"}}" class="pre-post__sign" />
                    Статьи
                </div>
            </div>
            <div class="pre-post">
                <div class="pre-post__img-wrapper">
                    <img src="{{asset "images/home/newest-posts/post-example-image.svg"}}" />
                </div>
                <div class="pre-post__title">
                    How to save 50% of a work day when managing user reviews
                </div>
                <div class="pre-post__description">
                    How to save 50% of a work day when managing mobile user reviews. Learn how can Customer Support teams save 50% of their work day when dealing with user.
                </div>
                <div class="pre-post__sign-wrapper">
                    <img src="{{asset "images/home/newest-posts/paper-icon.svg"}}" class="pre-post__sign" />
                    Статьи
                </div>
            </div>
            <div class="pre-post">
                <div class="pre-post__img-wrapper">
                    <img src="{{asset "images/home/newest-posts/post-example-image.svg"}}" />
                </div>
                <div class="pre-post__title">
                    How to save 50% of a work day when managing user reviews
                </div>
                <div class="pre-post__description">
                    How to save 50% of a work day when managing mobile user reviews. Learn how can Customer Support teams save 50% of their work day when dealing with user.
                </div>
                <div class="pre-post__sign-wrapper">
                    <img src="{{asset "images/home/newest-posts/paper-icon.svg"}}" class="pre-post__sign" />
                    Статьи
                </div>
            </div>

        </div>
    </div>
</div>