<div class="reviews">
    <div class="reviews__content">
        <div id="home-reviews__content-1" class="reviews-group">
            <div class="reviews-group-content">

                <div class="review">
                    <div class="review__title">Pro Smurf Guy1</div>
                    <div class="review__starts">
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                    </div>
                    <div class="review__text">
                        A valuable, reliable and convenient sound meter
                    </div>
                </div>
                <div class="review">
                    <div class="review__title">Hsihevdhxh1</div>
                    <div class="review__starts">
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                    </div>
                    <div class="review__text">
                        The speed square for engineers and audiophiles
                    </div>
                </div>
                <div class="review">
                    <div class="review__title">WMckey1</div>
                    <div class="review__starts">
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                    </div>
                    <div class="review__text">
                        Relatively Accurate Reading and very handy
                    </div>
                </div>
                <div class="review">
                    <div class="review__title">JMacBerwickPI1</div>
                    <div class="review__starts">
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                    </div>
                    <div class="review__text">
                        Great for Protecting Your Ears From Loud Sounds!
                    </div>
                </div>

            </div>

            <div class="reviews__switcher">
                <div class="reviews__switcher-content">
                    <a href="#home-reviews__content-1" class="reviews__switcher-circle reviews__switcher-circle_active"></a>
                    <a href="#home-reviews__content-2" class="reviews__switcher-circle"></a>
                    <a href="#home-reviews__content-3" class="reviews__switcher-circle"></a>
                </div>
            </div>
        </div>
        <div id="home-reviews__content-2" class="reviews-group">
            <div class="reviews-group-content">

                <div class="review">
                    <div class="review__title">Pro Smurf Guy2</div>
                    <div class="review__starts">
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                    </div>
                    <div class="review__text">
                        A valuable, reliable and convenient sound meter
                    </div>
                </div>
                <div class="review">
                    <div class="review__title">Hsihevdhxh2</div>
                    <div class="review__starts">
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                    </div>
                    <div class="review__text">
                        The speed square for engineers and audiophiles
                    </div>
                </div>
                <div class="review">
                    <div class="review__title">WMckey2</div>
                    <div class="review__starts">
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                    </div>
                    <div class="review__text">
                        Relatively Accurate Reading and very handy
                    </div>
                </div>
                <div class="review">
                    <div class="review__title">JMacBerwickPI2</div>
                    <div class="review__starts">
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                    </div>
                    <div class="review__text">
                        Great for Protecting Your Ears From Loud Sounds!
                    </div>
                </div>

            </div>

            <div class="reviews__switcher">
                <div class="reviews__switcher-content">
                    <a href="#home-reviews__content-1" class="reviews__switcher-circle"></a>
                    <a href="#home-reviews__content-2" class="reviews__switcher-circle reviews__switcher-circle_active"></a>
                    <a href="#home-reviews__content-3" class="reviews__switcher-circle"></a>
                </div>
            </div>
        </div>
        <div id="home-reviews__content-3" class="reviews-group">
            <div class="reviews-group-content">

                <div class="review">
                    <div class="review__title">Pro Smurf Guy3</div>
                    <div class="review__starts">
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                    </div>
                    <div class="review__text">
                        A valuable, reliable and convenient sound meter
                    </div>
                </div>
                <div class="review">
                    <div class="review__title">Hsihevdhxh3</div>
                    <div class="review__starts">
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                    </div>
                    <div class="review__text">
                        The speed square for engineers and audiophiles
                    </div>
                </div>
                <div class="review">
                    <div class="review__title">WMckey3</div>
                    <div class="review__starts">
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                    </div>
                    <div class="review__text">
                        Relatively Accurate Reading and very handy
                    </div>
                </div>
                <div class="review">
                    <div class="review__title">JMacBerwickPI3</div>
                    <div class="review__starts">
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                        <img src="{{asset "images/home/reviews/star.svg"}}" class="review-star" />
                    </div>
                    <div class="review__text">
                        Great for Protecting Your Ears From Loud Sounds!
                    </div>
                </div>

            </div>

            <div class="reviews__switcher">
                <div class="reviews__switcher-content">
                    <a href="#home-reviews__content-1" class="reviews__switcher-circle"></a>
                    <a href="#home-reviews__content-2" class="reviews__switcher-circle"></a>
                    <a href="#home-reviews__content-3" class="reviews__switcher-circle reviews__switcher-circle_active"></a>
                </div>
            </div>
        </div>
    </div>
</div>