<div class="top-logo">
    <div class="top-logo__top">
        <img src="{{asset "images/top-logo-bg-desktop.svg"}}" class="top-logo__top-bg top-logo__top-bg-desktop" />
        <img src="{{asset "images/nose-desktop.svg"}}" class="top-logo__top-bg-nose top-logo__top-bg-nose-desktop" />

        <img src="{{asset "images/top-logo-bg-ipad.svg"}}" class="top-logo__top-bg top-logo__top-bg-ipad" />
        <img src="{{asset "images/nose-ipad.svg"}}" class="top-logo__top-bg-nose top-logo__top-bg-nose-ipad" />

        <img src="{{asset "images/top-logo-bg-mobile.svg"}}" class="top-logo__top-bg top-logo__top-bg-mobile" />
        <img src="{{asset "images/nose-mobile.svg"}}" class="top-logo__top-bg-nose top-logo__top-bg-nose-mobile" />

        <div class="top-logo__top-text-wrapper">
            <p class="top-logo__top-text-wrapper-line1">Вокруг шум</p>
            <p class="top-logo__top-text-wrapper-line2">пусть так, не кипешуй</p>
            <a target="_blank" rel="noopener noreferrer" href="#" class="top-logo__appstore-btn">
                <img src="{{asset "images/white-apple.svg"}}" class="top-logo__appstore-btn-icon" />
                <div class="top-logo__appstore-btn-text">
                    <div class="top-logo__appstore-btn-text-line1">Скачать на</div>
                    <div class="top-logo__appstore-btn-text-line2">App Store</div>
                </div>
            </a>
            <img src="{{asset "images/phone.svg"}}" class="top-logo__top-bg-phone" />
        </div>
    </div>
    <div class="top-logo__bottom">
        <div class="top-logo__bottom-content">
            <p class="top-logo__bottom-text">Исчисление предикатов амбивалентно. Согласно предыдущему, предмет деятельности неоднозначен. Предмет деятельности, дедуктивный метод.</p>
        </div>
    </div>
</div>