<header class="site-header">
    <div class="site-header__content">
        {{#link href="/" class="site-logo__link"}}
            <div class="site-logo">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" class="site-logo__image" />
                {{else}}
                    <img src="{{asset "images/logo.svg"}}" class="site-logo__image" />
                {{/if}}

                <p class="site-logo__title">
                    <span class="site-logo__line1">Decibel</span>
                    <span class="site-logo__line2">Sound Meter Pro</span>
                </p>
            </div>
        {{/link}}
        <div class="navigation-mobile navigation-mobile-active">
            <span>Блог</span>
            <img src="{{asset "images/nav-arrow.svg"}}" class="navigation-mobile__icon" />
        </div>
        <nav class="top-navigation">
            <ul class="top-navigation__list">
                {{#foreach @site.navigation}}
                    <li class="top-navigation__item">
                        {{#link href=url class="top-navigation__label" activeClass="top-navigation__label-active"}}
                            {{label}}
                        {{/link}}
                    </li>
                {{/foreach}}
            </ul>
        </nav>
        <a href="#" class="appstore-button">
            <div class="appstore-button__content">
                <img src="{{asset "images/apple.svg"}}" class="appstore-button__icon" />
                <div class="appstore-button__text-wrapper">
                    <div class="appstore-button__line1">Скачать на</div>
                    <div class="appstore-button__line2">App Store</div>
                </div>
            </div>
        </a>
    </div>
    <ul class="navigation-mobile__list">
        {{#foreach @site.navigation}}
            <li class="navigation-mobile__item">
                {{#link href=url class="navigation-mobile__link" activeClass="navigation-mobile__link-active"}}
                    {{label}}
                {{/link}}
            </li>
        {{/foreach}}
    </ul>
</header>

<script>
    const navArrow = document.querySelector('.navigation-mobile__icon');
    const navMobileList = document.querySelector('.navigation-mobile__list');
    navArrow.addEventListener('click', () => {
        navMobileList.classList.toggle('navigation-mobile__list-open');
        navArrow.classList.toggle('navigation-mobile__icon-open');
    });
</script>